# NodeJs
NODE_ENV="development"

# Client (Exposed to the browser via `VITE_` - bundled into the frontend at build time)
# https://vite.dev/guide/env-and-mode#env-variables
VITE_CLIENT_API_CORE_URL="http://127.0.0.1:8787"

# Api Core
API_CORE_URL=""
API_CORE_SECRET=""
API_CORE_DEV_PORT="8787"

# Database
DB_URL=""

# Shopify
SHOPIFY_API_KEY=""
