# NodeJs
NODE_ENV="production"

# Client (Exposed to the browser via `VITE_` - bundled into the frontend at build time)
# https://vite.dev/guide/env-and-mode#env-variables
VITE_CLIENT_API_CORE_URL="https://saku-link-in-bio.fly.dev/api"
CLIENT_API_CORE_ACCESS_SECRET="your_access_secret"

# Api Core
API_CORE_URL="https://saku-link-in-bio.fly.dev/api"
API_CORE_SECRET="your_secret"
API_CORE_ACCESS_SECRET="your_access_secret"
API_CORE_CLIENT_APP_URL="https://saku-link-in-bio.fly.dev"

# Database
DB_URL=""

# Shopify
SHOPIFY_API_KEY="2b94f79e87ae864f86d54772206e0d2e"
SHOPIFY_API_SECRET=""
SHOPIFY_APP_URL="https://saku-link-in-bio.fly.dev"
SCOPES="write_products,write_files"
