# NodeJs
NODE_ENV="development"

# App
APP_URL="http://127.0.0.1:3000"

# Api Core
API_CORE_URL="http://127.0.0.1:8787"
API_CORE_SECRET="your_api-core_secret"
API_CORE_ACCESS_SECRET="your_api-core_access_secret"
API_CORE_DEV_PORT="8787"
VITE_API_CORE_URL="http://127.0.0.1:8787"

# Database
DB_URL=""

# Email
EMAIL_DOMAIN="saku.so"

# Shopify
SHOPIFY_API_KEY="your_shopify_api_key"
SHOPIFY_API_SECRET="your_shopify_api-secret"
SHOPIFY_SCOPES="write_products,write_files"
# SHOPIFY_APP_URL="http://127.0.0.1:3000" # Required in production; automatically set by Shopify CLI in development

# Mantle
MANTLE_APP_ID="your_mantle_app-id"
MANTLE_API_KEY="your_mantle_api-key"
VITE_MANTLE_APP_ID="your_mantle_app-id"

# Resend
RESEND_API_KEY="your_resend_api_key"

# Posthog
VITE_POSTHOG_KEY="your_posthog_key"
VITE_POSTHOG_HOST="https://us.i.posthog.com"

# Chatwoot
VITE_CHATWOOT_TOKEN="your_chatwoot_token"